<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link" [routerLink]="['dashboard']">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span> Dashboard </span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Menu
</div>

<!-- Nav Item - Submenu 1 Collapse Menu -->
<li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link collapsed" role="button" data-toggle="collapse" data-target="#collapseSubmenu1"
        aria-expanded="true" aria-controls="collapseSubmenu1">
        <i class="fas fa-users"></i>
        <span> Submenu </span>
    </a>
    <div id="collapseSubmenu1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu1" aria-expanded="true" aria-controls="collapseSubmenu1" [routerLink]="['dashboard']">Dashboard</a>
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu1" aria-expanded="true" aria-controls="collapseSubmenu1" [routerLink]="['dashboard']">Dashboard</a>
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu1" aria-expanded="true" aria-controls="collapseSubmenu1" [routerLink]="['dashboard']">Dashboard</a>
        </div>
    </div>
</li>

<!-- Nav Item - Submenu 2 Collapse Menu -->
<li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link collapsed" role="button" data-toggle="collapse" data-target="#collapseSubmenu2"
        aria-expanded="true" aria-controls="collapseSubmenu2">
        <i class="fas fa-users"></i>
        <span> Submenu </span>
    </a>
    <div id="collapseSubmenu2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu2" aria-expanded="true" aria-controls="collapseSubmenu2" [routerLink]="['dashboard']">Dashboard</a>
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu2" aria-expanded="true" aria-controls="collapseSubmenu2" [routerLink]="['dashboard']">Dashboard</a>
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu2" aria-expanded="true" aria-controls="collapseSubmenu2" [routerLink]="['dashboard']">Dashboard</a>
        </div>
    </div>
</li>

<!-- Nav Item - Submenu 3 Collapse Menu -->
<li class="nav-item" [routerLinkActive]="['active']">
    <a class="nav-link collapsed" role="button" data-toggle="collapse" data-target="#collapseSubmenu3"
        aria-expanded="true" aria-controls="collapseSubmenu3">
        <i class="fas fa-users"></i>
        <span> Submenu </span>
    </a>
    <div id="collapseSubmenu3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu3" aria-expanded="true" aria-controls="collapseSubmenu3" [routerLink]="['dashboard']">Dashboard</a>
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu3" aria-expanded="true" aria-controls="collapseSubmenu3" [routerLink]="['dashboard']">Dashboard</a>
            <a class="collapse-item py-1" data-toggle="collapse" data-target="#collapseSubmenu3" aria-expanded="true" aria-controls="collapseSubmenu3" [routerLink]="['dashboard']">Dashboard</a>
        </div>
    </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="d-flex justify-content-center align-items-center">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="switchSidebar()"></button>
    </div>
</div>